
@charset "UTF-8";
/* Configurações geral */

*{
    margin: 0;
    padding: 0;

}
html, body{
    width: 100vh;
    height: 100vh;
    background-color: #233eff;
    background-size: contain ;
    background-repeat: no-repeat;
}
h1{
    color: white;
    text-shadow: 2px 2px 0px #1526a7;
    padding: 10px;
}
h2{
    color: white;
    font-size: 2em;
}

/* configurações portrait */

@media  screen and (orientation: portrait) {
    body{
        background-image: url(../imagens/cev-portrait.jpg);
        background-position: center bottom;
    }
    
}

/* configurações landscape  */

@media screen and (orientation: landscape) {

    body{
        background-image: url(../imagens/cev-landscape.jpg);
        background-position: left bottom;
    }
    
}